.payments {
  &__title {
    font-size: 36px;
    color: #262626;
    font-weight: 400;
  }

  &__table-filters {
    display: flex;
    margin-bottom: 20px;

    .data-filter {
      margin-right: 5%;
      font-size: 13px;

      .ant-select-selection-item, .ant-select-arrow {
        color: #1875F0;
      }

      .ant-select-selection-item {
        font-size: 14px;
      }
    }

    .data-search {
      flex-basis: 45%;

      .ant-input-affix-wrapper {
        width: 55%;
        border-bottom: 0.5px solid #787878;
        padding-left: 0;
      }
    }

    .status-filter {
      font-size: 13px;
      color: #000000;

      .ant-select {
        margin-left: 20px;
        width: 150px;

        &:focus {
          outline: none;
        }

        .ant-select-arrow {
          color: #1875F0;
        }
      }

      .ant-select .ant-select-selector {
        border: 1px solid #CED0DA;
        border-radius: 2px;

        &:focus {
          outline: none;
        }
      }

      .ant-select-focused.ant-select-single .ant-select-selector {
        box-shadow: none;
      }
    }
  }

  table {
    .ant-table-thead {
      .ant-table-cell {
        font-size: 14px;
        color: #7F8FA4;
        background-color: #EAEEF0;
      }
    }

    .ant-table-tbody {
      font-size: 14px;
      color: #7F8FA4;

      .ant-table-cell {
        .item-image {
          display: inline-block;
          border-radius: 50%;
          background-color: #7F8FA4;
          padding: 5px;
          color: #ffffff;
          margin-right: 5%;
        }

        .item-name {
          color: #414042;
        }

        .status {
          display: inline-block;
          font-size: 12px;
          border: 1px solid #CCCFD4;
          border-radius: 30px;
          width: 100%;
          max-width: 125px;
          padding: 7px 10px;

          &::before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            margin-right: 8%;
          }

          &.status-reconciled {
            color: #27AE60;

            &::before {
              background-color: #27AE60;
            }
          }


          &.status-pending {
            color: #EBC315;

            &::before {
              background-color: #EBC315;
            }
          }

          &.status-un-reconciled {
            color: #7F8FA4;

            &::before {
              background-color: #7F8FA4;
            }
          }
        }
      }
    }
  }

  .ant-pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    user-select: none;

    .ant-pagination-total-text {
      flex-grow: 1;
      color: #000000;
      font-size: 13px;
    }

    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-item {
      margin-left: 0;
      margin-right: 0;
    }

    .ant-pagination-item {
      border-radius: 0;
    }

    .ant-pagination-item-active {
      background-color: #1875F0;
      border: none;

      a {
        color: #ffffff;
      }
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      border: 1px solid #CED0DA;
      padding: 0 10px;

      a {
        color: #000000;
      }
    }

    .ant-pagination-prev {
      border-radius: 2px 0 0 2px;
    }
    .ant-pagination-next {
      border-radius:0 2px 2px 0;
    }
  }
}


.ant-select-dropdown {
  .ant-select-item-option-selected {
    background-color: #F4F4F4;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #414042;
    font-weight: normal;
  }
}
